<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StokKontrol.Properties.Settings.StokConnections" connectionString="Data Source=AB06341-0151\SQLEXPRESS;Initial Catalog=stok;Persist Security Info=True;User ID=sa;Password=Adalet63.;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>